:root {
  --logo-clear-black: #000;
  --brand-txt-clr: #212121;
  --brand-p-color: #757575;
  --brand-hvr-color: #2196f3;
  --bg-color: #fff;
  --bg-color-scd: #2f303a;
  --bf-color-team: #f5f4fa;
}
body {
  font-family: "Roboto", "sans-serif";
  line-height: 1.71;
  letter-spacing: 3%;
  color: var(--brand-txt-clr);
}
a {
  text-decoration: none;
}
.contact,
.menu,
.adv-list,
.list.menu,
.link.logo,
.list.portfolio {
  display: inline-block;
}
.hero-btn {
  background-color: var(--brand-hvr-color);
  color: var(--bg-color);
}
.link {
  color: var(--brand-txt-clr);
}
.link.portfolio {
  background-color: var(--bf-color-team);
  color: var(--brand-txt-clr);
}
.link:hover,
.link:active,
.link.footer:hover,
.link.footer:active {
  color: var(--brand-hvr-color);
  cursor: pointer;
}
.link.portfolio:hover,
.link.portfolio:active {
  background-color: var(--brand-hvr-color);
  color: var(--bg-color);
  cursor: pointer;
}

.logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  color: var(--brand-hvr-color);
}
.logo-head {
  color: var(--logo-clear-black);
}
.logo-footer {
  color: var(--bg-color);
}
.contact {
  font-size: 14px;
  color: var(--brand-p-color);
  letter-spacing: 2%;
}
.banner {
  background-color: var(--bg-color-scd);
}
.banner-txt {
  color: var(--bg-color);
  line-height: 1.36;
  font-size: 44px;
  text-transform: uppercase;
  letter-spacing: 6%;
  line-height: 1.36;
}
.list {
  list-style-type: none;
}
.adv-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: auto;
}
.adv-descr {
  text-align: left;
  color: var(--brand-p-color);
}
.title-snd {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
.our-adv.list {
  display: inline;
}
.what-we-do.list {
  display: inline;
}
.team {
  background-color: var(--bf-color-team);
}
.list.team {
  display: inline-flex;
}
.team-name {
  text-transform: capitalize;
  font-size: 16;
  font-weight: 700;
  text-align: center;
}
.team-desc {
  font-size: 14px;
  text-transform: capitalize;
  color: var(--brand-p-color);
  text-align: center;
}

/* Portfolio */
.portfolio-filters {
  text-align: center;
}
.portfolio-title {
  color: var(--brand-txt-clr);
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 6%;
  text-align: left;
}
.portfolio-desc {
  color: var(--brand-p-color);
  font-size: 16px;
  text-align: left;
}

.fotter-bg {
  background-color: var(--bg-color-scd);
}
.link.footer {
  color: var(--bg-color);
}
